@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 4rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.nav-container {
  @apply flex justify-between relative;
}

.cart-icon {
  @apply text-[40px] text-black cursor-pointer relative transition-transform duration-[0.4s] ease-[ease] bg-transparent border-[none];
}

.products-container {
  @apply flex flex-wrap justify-center gap-[15px] w-full mt-5;
}
.product-card {
  @apply cursor-pointer transition-transform duration-[0.5s] ease-[ease] text-[#324d67] scale-100;
}

input[type="checkbox"] {
  appearance: none;
  display: none;
}

/* Style the custom checkbox */
.custom-checkbox {
  /* Adjusted height */
  background-color: #fff;
  border: 0.15em solid #000;
  border-radius: 0.15em;
  position: relative;
  cursor: pointer;
}

/* Style the checkmark icon (initially hidden) */
.custom-checkbox::before {
  content: "\2713"; /* Unicode checkmark character */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-weight: bold;
  color: #000;
}

/* Style the custom checkbox when checked */
input[type="checkbox"]:checked + .custom-checkbox::before {
  display: block;
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
